{% extends 'events/base.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <center>
        <h3>Add Venue!</h3>
        <br/>
            <form action="" method=POST> 
                {% csrf_token %}
                
                {{ form.as_p }}

                <input type="submit" value="Submit" class="btn btn-dark">
            </form>

        </center>
    {% else %}
        <h3>Login to Add Venue!</h3>
        <a href="{% url 'login_user' %}" type="submit" value="Submit" class="btn btn-dark btn-sm">Login Here</a>
    {% endif %}
{% endblock %}
   
